body {
    padding-top: 55px;
}

.style1{
    background-color: white;
    color: black;
}

.bd-highlight {
    border: 1px solid rgba(86,61,124,0.15);
}

.top-button {
    width:50px;
    border:2px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:20px;
    cursor:pointer;
    color:#333;
    font-family: verdana, serif;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

input[type=checkbox] {
    margin:-25px 0 0 0;
    padding: 0;
    vertical-align: middle;
}